$enable-gradients: true;

// Color system
$greylight: #F3F3F3;
$greymedium: #CDCDCD;
$bluedark: $green;
$red: $blue;
$dark: #000000;
$grey: #8298AB;

// Create your own map
$custom-colors: (
  "primary":        $red,
  "secondary":      $bluedark,
  "success":        $success,
  "info":           $info,
  "warning":        $warning,
  "danger":         $danger,
  "light":          $light,
  "greymedium":     $greymedium,
  "greylight":      $greylight,
  "grey":           $grey,
  "dark":           $dark,
  "bluedark":       $bluedark,
  "red":            $red
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Background colors
@each $key, $val in $custom-colors {
  .bg-#{$key} {
    background-color: #{$val} !important;
    color: color-contrast($val);
  }
}

// Text colors
@each $key, $val in $custom-colors {
  .text-#{$key} {
    color: #{$val} !important;
  }
}

// Gradient
//
// The gradient which is added to components if `$enable-gradients` is `true`
// This gradient is also added to elements with `.bg-gradient`
// scss-docs-start variable-gradient

$gradient: linear-gradient(180deg, rgba($red, 0) 0%, rgba($red, 0.4) 100%);
$gradient-hover: linear-gradient(180deg, rgba($red, 0) 0%, rgba($red, 0.4) 100%);

// scss-docs-end variable-gradient