.mod-content {
	* + h1,
	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6,
	* + img {
		margin-top: 2rem;
	}
	img {
		max-width: calc(100% + 60px);
		margin-left: -30px;
		margin-right: -30px;
		margin-top: 30px;
		margin-bottom: 30px;
		height: auto;
	}
	.accordion {
		.item {
			margin-bottom: 20px;
			p {
				margin: 0;
			}
			.heading {
				display: block;
				text-decoration: none;
				cursor: pointer;
				min-height: 24px;
				padding-bottom: 0;
				h5, img {
					transition: 0.5s $ease;
				}
				h5 {
					display: block;
					line-height: 26px;
				}
				&[aria-expanded=true] {
					img {
						transform: rotate(225deg);
					}
				}
				&:hover {
					h5 {
						color: $bluedark;		
					}	
				}
			}
			.content {
				padding-top: 10px;
				padding-left: 52px;
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.mod-content {
		img {
			max-width: calc(100% + 120px);
			margin-left: -60px;
			margin-right: -60px;
			height: auto;
		}
	}
}

@include media-breakpoint-up(lg) {
	.mod-content {
		img {
			max-width: calc(100% + 200px);
			margin-left: -100px;
			margin-right: -100px;
			height: auto;
		}
	}
}