.mod-tegels {
	margin-bottom: -40px;
	.tegel {
		display: inline-block;
		width: 100%;
	}
}

@include media-breakpoint-up(lg) {
	.mod-tegels {
		margin-bottom: 0;
		.tegel {

		}
		.tegel2 {
			margin-top: 80px;
		}
	}	
}