.mod-content, .mod-categories, .mod-teamoverview, header {
	a:not(.btn) {
		transition: 0.15s ease-in;
		position: relative;	  
		&:not(.immune):before {
			position: absolute;
			bottom: -4px;
			left: 0;
			content: '';
			height: 2px;
			width: 0%;
			transition: 0.15s ease-in-out;
		}
		&:hover {
			text-decoration: none;
			&:before {
				width: 100%;
			}
		}
		&:active, &:focus, &:target {
		
		}
	}
}
	
.btn,
.hovered .btn,
body .nf-form-content button, 
body .nf-form-content input[type=button],
body .nf-form-content input[type=submit] {
	font-size: 18px;
	line-height: 28px;
	border-width: 3px;
	color: #fff;
	position: relative;
	transition: all 0.3s $ease;
	span {
		position: relative;
		display: inline-block;
		z-index: 1;
	}
	&:after {
		content: '';
		position: absolute;
		z-index: 0;
		transition: all 0.3s $ease;
		width: 0%;
		height: calc(100% + 6px);
		top: -3px;
		left: -3px;
		background: rgba(255,255,255,0.3);
	}
	&:hover, &:focus, &:target {
		color: #fff !important;
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
		&:after {
			width: calc(100% + 6px);
		}
	}
	&:disabled {
		background: $grey;
	}
}

.hovered .btn {
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
	&:after {
		width: calc(100% + 6px);
	}
}

.btn-link {
	text-decoration: none;
	&:after {
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: "Font Awesome 5"; 
		font-weight: 700; 
		content: "\f054";
		font-size: 11px;
		transition: 0.2s $ease;
		margin-left: 8px;
		transform: translateY(-1px);	
	}
	&.prev {
		&:after {
			float:left; 
			line-height: 30px;
			content: "\f053";
			margin-left: auto;
			margin-right: 8px;
			transform: translateY(-1px) translateX(0px);	
		}
	}
	&:hover {
		text-decoration: none;
	}
	&:not(:hover) {
		&:after {
			color: $dark;
			margin-left: 2px; 
		}
		&.prev:after {
			color: $dark;
			margin-left: 0;
			transform: translateY(-1px)  translateX(3px);	
		}
	}
}
/*
.text-white {
	.btn-link {
		color: #fff;
		&:after {
			color: #fff;
		}
		&:before {
			background: #fff !important;
		}
		&:hover {
			color: #fff !important;
		}
	}
}
*/

.text-white {
	.btn-link {
		&:after {
			color: #fff;
		}
		&:before {
			background: #fff !important;
		}
	}
}