.text-white {
	color: #fff;
	muted {
		opacity: 0.4;
	}
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6,
	a:not(.immune) {
		color: #fff;
	}
	a:not(.immune) {
		&:hover {
			color: $red;
		}
	}
	.sub {
		opacity: .5;
	}
}



@include media-breakpoint-up(lg) {

}
