.mod-content {
	ul {
		list-style-type: none;
		padding-left: 1.5rem;
		li {
			position: relative;
			padding-left: 0;
			margin-left: 0;
			&:after {
				position: absolute;
				top: 11px;
				left: -1.5rem;
				width: 8px;
				height: 8px;
				content: '';
				background: $bluedark;
				border-radius: 30px;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.mod-content {
	}
}