footer {
	padding: 60px 0;
	position: relative;
	&:before {
		background: url('../img/footer.png');
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		position: absolute;
		background-size:contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&:after {
		background: url('../img/shape-green.svg');
		height: 20px;
		content: '';
		top: -18px;
		left: 0;
		right: 0;
		position: absolute;
	}
	img {
		max-width: 216px;
		margin-bottom: 20px;
	}
}

@include media-breakpoint-up(md) {
	footer {
		img {
			max-width: 250px;
			margin: 0;
		}
	}
}