footer {
	padding: 60px 0;
	padding-bottom: 40px !important;
	position: relative;
	ul {
		list-style-type: none;
		padding: 0;
		li {
			margin-bottom: 4px;
			a {
				text-decoration: none;
				transition: padding 1s $ease;
				border-left: 0px solid #fff !important;
				&:hover {
					padding-left: 10px;
					border-left: 4px solid #fff !important;
					text-decoration: none;
				}
			}
		}
	}
	.footerbottom {
		padding-top: 20px;
		font-size: 14px;
		a {
			text-decoration: none;
			font-size: 14px;
		}
		a:hover {
			color: #fff !important;
			text-decoration: underline;
		}
	}
	img {
		max-width: 136px;
		margin-bottom: 20px;
	}
	h1,h2,h3,h4,h5,h6 {
		@extend .sub;
		opacity: 0.5;
	}
	h2 {
		margin-bottom: 20px;
	}
}

@include media-breakpoint-up(md) {
	footer {
		padding: 80px 0;
		img {
			max-width: 150px;
			margin: 0;
		}
	}
}

@include media-breakpoint-up(lg) {
	footer {
		padding: 100px 0;
	}
}