header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	transition: 1s $ease;
	height: 66px;
	padding: 30px 0;
	background: transparent;
	.header-brand {
		display: block;
		background: url($logo_color);
		background-size: contain;
		background-repeat: no-repeat;
		height: 48px;
		width: 140px;
	}
	&.text-white {
		.header-brand {
			display: block;
			background-image: url($logo_white);
		}
	}
}


@include media-breakpoint-down(lg) {
	header {
		position: absolute;
		top: 0;
		.btn-menu {
			position: fixed;
			z-index: 10;
		}
	}
}

@include media-breakpoint-up(lg) {
	header {
		position: fixed;
		height: 120px;
		.header-brand {
			height: 62px;
			width: 164px;
		}
		.nav-link {
			padding: 0;
			margin: 0.5rem 1rem;
		}
		&.nav-up {
			transform: translateY(-144px);
			transition-delay: color .6s;
			.header-brand {
				transition-delay: background .6s;
			}
		}
		&.nav-down {
			transform: translateY(0);
			transition-delay: background .6s;
		}
		&:not(.text-white) {
			ul {
				li {
					a {
						color: $dark
					}
				}
			}
		}
		&.nav-up, &.nav-down,
		&.text-white.nav-up, &.text-white.nav-down {
			background: #fff;
			.header-brand {
				background: url($logo_color);
			}
			.header-brand {
				display: block;
			}
			ul {
				li {
					a {
						color: $dark;
						&:hover, &:focus {
							color: $red;
						}
					}
				}
			}
		}
		&.nav-down {
			box-shadow: $box-shadow;
		}
		ul {
			list-style-type: none;
			li {
				display: inline-block;
				margin-left: 10px;
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	header {
		ul {
			li {
				margin-left: 15px;
			}
		}
	}
}