.single {
	&.single-team {
		main {
			padding-top: 80px;
		}
	}
	&.single-affiliates {
		.quote {
			line-height: 30px;
			font-style: italic;
			padding: 0 0 0 30px;
			position: relative;
			display: block;
			margin-bottom: 30px;
			span {
				position: absolute;
				left: 0px;
				top: 6px;
				font-size: 40px;
				line-height: 30px;
				color: #CDCDCD;
				font-style: normal;
			}
			&:after {
				position: absolute;
				left: 8px;
				width: 2px;
				background: #CDCDCD;
				content: '';
				top: 26px;
				bottom: 8px;
			}
		}
		.card {
			border: 0;
			border-radius: 0;
			margin-bottom: 30px;
			margin-top: 30px;
			.card-body {
				padding: 30px;
			}
		}
	}
	.mod-header {
		.bg-cover {
			filter: grayscale(100%);
		}
	}
	.date {
		position: relative;
		padding-left:20px;
		padding-top: 5px;
		display: block;
		padding-left: 20px;
		color: $grey;
		margin-bottom: 45px;
		.line {
			position: absolute;
			top: 0;
			left: 0;
			height: 40px;
			width: 4px;
		}
	}
}

@include media-breakpoint-up(lg) {
	.single {
		.date {
			margin-bottom: 60px;
		}
		main {

		}
	}
}