<footer id="footer" class="bg-gradient text-white" data-scroll-section>
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="mb-5">
					{{ options.footer_kolom_1 }}
				</div>
			</div>
			<div class="col-lg-4">
				<div class="mb-5">
					{{ options.footer_kolom_2 }}
				</div>	
			</div>
			<div class="col-lg-4 text-center">
				<img src="{{ theme.link }}/assets/img/sthendrick_logo_full.png">
			</div>
		</div>
	</div>
</footer>