<div class="mod-mobilemenu text-white d-lg-none">
	<div class="menucontent d-flex align-items-center">
		<div class="container">
			{% include "menu-mobilemenu.twig" with {'items': menu.get_items} %}
		</div>
	</div>
</div>